<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Downloder</title>
    <link rel="shortcut icon" href="./c_d.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #663399;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img alt="Brand" src="./c_d.svg" style="height: 20px;">DL
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarEexample2">
			<ul class="nav navbar-nav">
				<li><a href="#">メニューＡ</a></li>
				<li><a href="#">メニューＢ</a></li>
				<li><a href="#">メニューＣ</a></li>
			</ul>
		</div>
	</div>
</nav>
    <!--　▼ ジャンボトロン　 -->
    <div class="jumbotron">
      <div class="container">
        <h2>Downloder</h2>
        <p>名前:{{$.Name}}</p>
        <p>出身:{{$.From}}</p>
{{.Links}}
        {{range $val := .Links}}
            {{$val}}
        {{end}}
{{.Links}}
            {{$.Url}}
      </div>
    </div>
    <!--　▲ ジャンボトロン　 -->
    <!-- js -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- js -->
</body>
</html>
