<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Downloder</title>
    <link rel="shortcut icon" href="../resources/c_d.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse bg-primary" style="background-color: #330066;" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #FF6600;">Downloder</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#"><span >Home</span></a></li> -->
                <!-- <li class="dropdown"> -->
                <!--     <a class="dropdown&#45;toggle" data&#45;toggle="dropdown" href="#" >Page 1<span class="caret"></span></a> -->
                <!--     <ul class="dropdown&#45;menu"> -->
                <!--         <li><a href="#"  >Page 1&#45;1</a></li> -->
                <!--         <li><a href="#"  >Page 1&#45;2</a></li> -->
                <!--         <li><a href="#"  >Page 1&#45;3</a></li> -->
                <!--     </ul> -->
                <!-- </li> -->
                <li><a href="#">contents</a></li>
                <li><a href="#">EDM進行管理</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Downloder</h2>
        <ol class="breadcrumb">
        {{ $x := 0 }}
        {{ $length := len .Breadcrumbs }}
        {{range $index, $var := .Breadcrumbs}}
	        <li><a href="{{$index}}">{{$var}}</a></li>
        {{end}}
        </ol>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Last Upadate</th>
            </tr>
            {{range $file := .FileinfoList}}
            <tr>
                <td>
                    <a href="{{index $file 0}}">{{index $file 1}}</a></br>
                </td>
                <td>
                    <span>{{index $file 2}}</span>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <!-- js -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- js -->
</body>
</html>
